@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <span id="labelusername"></span>
        <span id="labelwelcome"></span>
        <h2>欢迎使用管理系统</h2>
    </div>
</body>
</html>
